{% extends "base.html" %}



{% block content %}
<section id="service">
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-sm-10 col-md-6 col-lg-6 rounded-2">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col mb-3 ">
                        <input type="text" name="title" class="form-control" placeholder="Title">
                    </div>
                    <div class="col mb-3">
                        <input type="file" name="icon" class="form-control" placeholder="Upload Icon">
                      </div>
                    <div class="col mb-3">
                        <textarea name="description" class="form-control" cols="30" rows="5" placeholder="Description here..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary px-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}